@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Pridi&family=UnifrakturMaguntia&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Pridi, serif;
    font-weight: 300;
    color:#a0522d;
    background: #bed2da;
    position: relative;
}

a {
    text-decoration: none;
    color:#029b38;
}
a:hover {
	color: #63029b;

}

p {
    margin-bottom: 1em;
}

h1 h2 {
    font-family: Cormorant Infant, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a0522d;
}
/* header styles */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 10px;
}

#logo {
    font-size: 20vw;
    font-weight: bold;
    font-family: UnifrakturMaguntia, cursive;
    text-transform: initial;
    letter-spacing: 2px;
    color: #9d4b09;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#menu ul {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    list-style-type: none;
}

#menu li {
    margin-right: 1em;
}

#menu a:hover, .active {
    border-bottom: 1px solid #3a3a3a;
}
/* hero styles */
#hero-outer {
    position: relative;
    height: 600px;
}

#hero-image {
    height: 100%;
    width: 100%;
    background: url(../images/hero-image.webp) center center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* cover-text */
#cover-text {
    position: absolute;
    bottom: 75px;
    left: 15%;
    width: 225px;
    height: auto;
    color: #edaa3e;
    letter-spacing: 4px;
    background-color: rgba(3, 101, 101, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 2;
    padding: 10px; 
}

#cover-text h1 {
    margin-bottom: 10px;
    text-transform: uppercase;
}

#cover-text h2 {
    font-size: 1em;
    letter-spacing: 2px;
}
/* content */
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-top: 20px;
}

.content {
    max-width: 90%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* footer */
.social-networks {
    text-align: center;
}

.social-networks > li{
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color:#029b38;
}

footer .social-networks a:hover i {
    color: #63029b;
}
/* Latin-English Source */
.textcontainer {
    display: flex;
    width: auto;
    overflow: auto;
    margin: 10px 0 10px 0;
}

.latintext {
    text-align: center;
    width: 50%;
    height: 320px;
    overflow: auto;
    background: url(../images/paper.png);
    background-repeat: repeat;
    background-size: 75%;
    justify-content:center;
    font-family: UnifrakturMaguntia, cursive;
    font-size: 11pt;
    line-height: 1.1rem;
    color: #49210d
}
.englishtext {
    width: 50%;
    height: 320px; 
    overflow: auto;
    padding-left: 10px;
    font-size: 10pt;
    justify-content: space-between;
    font-size: 9pt;
    line-height: 0.9rem;
    background: #efcda0
}

.flexcontainer {
    display: flex;
}
/* embeded media */
.google-map {
    width: 100%;
    height: 480px;
    max-width: 960px;
    margin: auto;
    display: block;
}
/* "Aspect Ratio Box" method */
.video {
    width: 100%; 
    height: auto;
}
.video-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 960px;
    padding-top: 56.25%;
    margin: 0 auto;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Forms */
form {
    margin-top: 2em;
}
fieldset {
    padding: 1em 0; 
}
fieldset.form-section {
    margin: 0 5px;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px 15px 20px 25px;
}


label.block-label {
    display: block;
    margin-bottom: 0.5em;
    color: #3a3a3a;
    font-size: 1.1em;
}

input[type="text"],
input[type="email"],
textarea,
select,
datalist {
    width: 100%;
    padding: 10px;
    border: 1px solid #a0522d;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 1em;
}

datalist option {
    color: #3a3a3a;
}

textarea {
    resize: vertical;
}

input[type="checkbox"] {
    margin-right: 0.5em;
}

input[type="radio"] {
    margin-right: 0.5em;
}
#terms {
    height: 100px;
    width: 100%;
    background-color: #b4b4b4;
    border: 1px solid grey;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 0.8em;
    color: #555;
}
/* buttons */
input[type="submit"],
input[type="reset"] {
    padding: 0.5em 1em;
    border: none;
    color: #ffffff;
    ;
    background-color: #029b38;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
     background-color: #63029b;

}

.float-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}
/* media-queries */
@media (min-width: 321px) {
    #header {
        flex-direction: row;
        justify-content: space-between;
    }

    #logo { 
        font-size: 5vw;
    }

    #menu ul {
        margin-top: 10px;
    }

    .content {
        width: 75%;
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    #header {
        justify-content: center;
       
    }
       
    #menu ul {
        justify-content: center;
    }
}