
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Pridi&family=UnifrakturMaguntia&display=swap');
/* 
font-family: 'Cormorant Infant', serif;
font-family: 'Pridi', serif;
font-family: 'UnifrakturMaguntia', cursive;
*/

* {margin: 0;
   padding: 0;
   border: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Pridi', serif;
    font-weight: 300;
    color:sienna;
}

/* headings and logo */
h1 {
   font-family: 'UnifrakturMaguntia', cursive;
       color:rgb(90, 37, 13);
}

h2 {
    font-family: 'Cormorant Infant', serif;
}

#logo {
    float: left;
    font-size: 200%;
}

/* Flexbox Container for menu. source#001 */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
  
#menu li {
    margin-right: 20px;
}